    /*
    Flaticon icon font: Flaticon
    Creation date: 13/11/2019 21:40
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-food:before { content: "\f100"; }
.flaticon-chef-hat:before { content: "\f101"; }
.flaticon-covered-food-tray-on-a-hand-of-hotel-room-service:before { content: "\f102"; }
.flaticon-dinner:before { content: "\f103"; }
.flaticon-restaurant:before { content: "\f104"; }
.flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view:before { content: "\f105"; }
.flaticon-menu:before { content: "\f106"; }
.flaticon-scooter:before { content: "\f107"; }
.flaticon-order:before { content: "\f108"; }
.flaticon-dinner-1:before { content: "\f109"; }
.flaticon-cook:before { content: "\f10a"; }
.flaticon-rating:before { content: "\f10b"; }
.flaticon-rating-1:before { content: "\f10c"; }
.flaticon-review:before { content: "\f10d"; }
.flaticon-help:before { content: "\f10e"; }
.flaticon-whatsapp:before { content: "\f10f"; }
.flaticon-whatsapp-1:before { content: "\f110"; }
.flaticon-clock-circular-outline:before { content: "\f111"; }
.flaticon-calendar-with-a-clock-time-tools:before { content: "\f112"; }
.flaticon-multiple-users-silhouette:before { content: "\f113"; }
.flaticon-teamwork:before { content: "\f114"; }
.flaticon-group-profile-users:before { content: "\f115"; }
.flaticon-placeholder-filled-tool-shape-for-maps:before { content: "\f116"; }
.flaticon-delivery-truck-with-circular-clock:before { content: "\f117"; }
.flaticon-facebook-logo:before { content: "\f118"; }
.flaticon-facebook:before { content: "\f119"; }
.flaticon-youtube:before { content: "\f11a"; }
.flaticon-tripadvisor:before { content: "\f11b"; }
.flaticon-dryer:before { content: "\f11c"; }
.flaticon-hair-dryer:before { content: "\f11d"; }
.flaticon-fireplace:before { content: "\f11e"; }
.flaticon-bathtub:before { content: "\f11f"; }
.flaticon-fridge:before { content: "\f120"; }
.flaticon-phone-call:before { content: "\f121"; }
.flaticon-balcony:before { content: "\f122"; }
.flaticon-linkedin:before { content: "\f123"; }
.flaticon-snowflake:before { content: "\f124"; }
.flaticon-couch:before { content: "\f125"; }
.flaticon-tv:before { content: "\f126"; }
.flaticon-medal:before { content: "\f127"; }
    
    $font-Flaticon-food: "\f100";
    $font-Flaticon-chef-hat: "\f101";
    $font-Flaticon-covered-food-tray-on-a-hand-of-hotel-room-service: "\f102";
    $font-Flaticon-dinner: "\f103";
    $font-Flaticon-restaurant: "\f104";
    $font-Flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view: "\f105";
    $font-Flaticon-menu: "\f106";
    $font-Flaticon-scooter: "\f107";
    $font-Flaticon-order: "\f108";
    $font-Flaticon-dinner-1: "\f109";
    $font-Flaticon-cook: "\f10a";
    $font-Flaticon-rating: "\f10b";
    $font-Flaticon-rating-1: "\f10c";
    $font-Flaticon-review: "\f10d";
    $font-Flaticon-help: "\f10e";
    $font-Flaticon-whatsapp: "\f10f";
    $font-Flaticon-whatsapp-1: "\f110";
    $font-Flaticon-clock-circular-outline: "\f111";
    $font-Flaticon-calendar-with-a-clock-time-tools: "\f112";
    $font-Flaticon-multiple-users-silhouette: "\f113";
    $font-Flaticon-teamwork: "\f114";
    $font-Flaticon-group-profile-users: "\f115";
    $font-Flaticon-placeholder-filled-tool-shape-for-maps: "\f116";
    $font-Flaticon-delivery-truck-with-circular-clock: "\f117";
    $font-Flaticon-facebook-logo: "\f118";
    $font-Flaticon-facebook: "\f119";
    $font-Flaticon-youtube: "\f11a";
    $font-Flaticon-tripadvisor: "\f11b";
    $font-Flaticon-dryer: "\f11c";
    $font-Flaticon-hair-dryer: "\f11d";
    $font-Flaticon-fireplace: "\f11e";
    $font-Flaticon-bathtub: "\f11f";
    $font-Flaticon-fridge: "\f120";
    $font-Flaticon-phone-call: "\f121";
    $font-Flaticon-balcony: "\f122";
    $font-Flaticon-linkedin: "\f123";
    $font-Flaticon-snowflake: "\f124";
    $font-Flaticon-couch: "\f125";
    $font-Flaticon-tv: "\f126";
    $font-Flaticon-medal: "\f127";