	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/11/2019 21:40
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-food:before { content: "\f100"; }
.flaticon-chef-hat:before { content: "\f101"; }
.flaticon-covered-food-tray-on-a-hand-of-hotel-room-service:before { content: "\f102"; }
.flaticon-dinner:before { content: "\f103"; }
.flaticon-restaurant:before { content: "\f104"; }
.flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view:before { content: "\f105"; }
.flaticon-menu:before { content: "\f106"; }
.flaticon-scooter:before { content: "\f107"; }
.flaticon-order:before { content: "\f108"; }
.flaticon-dinner-1:before { content: "\f109"; }
.flaticon-cook:before { content: "\f10a"; }
.flaticon-rating:before { content: "\f10b"; }
.flaticon-rating-1:before { content: "\f10c"; }
.flaticon-review:before { content: "\f10d"; }
.flaticon-help:before { content: "\f10e"; }
.flaticon-whatsapp:before { content: "\f10f"; }
.flaticon-whatsapp-1:before { content: "\f110"; }
.flaticon-clock-circular-outline:before { content: "\f111"; }
.flaticon-calendar-with-a-clock-time-tools:before { content: "\f112"; }
.flaticon-multiple-users-silhouette:before { content: "\f113"; }
.flaticon-teamwork:before { content: "\f114"; }
.flaticon-group-profile-users:before { content: "\f115"; }
.flaticon-placeholder-filled-tool-shape-for-maps:before { content: "\f116"; }
.flaticon-delivery-truck-with-circular-clock:before { content: "\f117"; }
.flaticon-facebook-logo:before { content: "\f118"; }
.flaticon-facebook:before { content: "\f119"; }
.flaticon-youtube:before { content: "\f11a"; }
.flaticon-tripadvisor:before { content: "\f11b"; }
.flaticon-dryer:before { content: "\f11c"; }
.flaticon-hair-dryer:before { content: "\f11d"; }
.flaticon-fireplace:before { content: "\f11e"; }
.flaticon-bathtub:before { content: "\f11f"; }
.flaticon-fridge:before { content: "\f120"; }
.flaticon-phone-call:before { content: "\f121"; }
.flaticon-balcony:before { content: "\f122"; }
.flaticon-linkedin:before { content: "\f123"; }
.flaticon-snowflake:before { content: "\f124"; }
.flaticon-couch:before { content: "\f125"; }
.flaticon-tv:before { content: "\f126"; }
.flaticon-medal:before { content: "\f127"; }