/*Defaut assets*/
body{
 overflow-x: hidden!important;
}
.calendar-ct{
    width: 330px!important;
}
.modal{
    .modal-dialog{
        .modal-content{
            background-color: $pine-green;
            .modal-header{
                position: relative;
                border-bottom: 0;
                align-items: center;
                justify-content: center;
                .modal-title{
                    text-align: center;
                    font-weight: 700;
                    color: $white;
                }
                .close{
                    top: 7px;
                    right: 15px;
                    position: absolute;
                    color: #ffffff42;
                    font-size: 30px;
                }
            }

            .modal-body{
                .buttons-modal{
                    width: 305px;
                    max-width: 100%;
                    margin: 0 auto;

                    .form-control{
                        background-color: transparent;
                        border: 2px solid $white;
                        color: $white;

                        option{
                            color: $black;
                        }
                    }
                }

                #demo {
                    /* width: 400px; */
                   /*  margin-bottom: 30px; */
                    ul,
                    ol,
                    li {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }
                
                    p {
                        margin: 0;
                    }
                    
                    input {
                        margin: 10px 0;
                        height: 28px;
                        width: 200px;
                        padding: 0 6px;
                        border: 1px solid #ccc;
                        outline: none;
                    }

                    #one{
                        margin: 0 auto;

                    }

                    .calendar-hd{
                        height: 40px;
                    }
                    
                    .calendar .view{
                        background: $pine-green;
                        color: $white;
                    }

                    .calendar-views .days .new, .calendar-views .days .old{
                        color: #808080;
                    }

                    .calendar-arrow span:hover, .calendar-display .m, .calendar-display:hover, .calendar-views .week{
                        color: $white;
                    }

                    .calendar .days li[data-calendar-day]:hover, .calendar .view-month li[data-calendar-month]:hover{
                        background: $tea;
                    }

                    
                }
            }
        }
    }
}




a{
    text-decoration: none!important;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    text-align: center;
}

input, textarea, button{
    outline: none!important;
    box-shadow: none!important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'DM Serif Text', serif;
    font-weight: bold;
}
.space{
    height: 94px;
}
.bg-green-menu{
    background-color: $pine-green;
}

.bg-green-light{
    background-color: $tea;
}

.fixed-mobile{
    position: fixed!important;
    width: 100%;
    top: 0;  
    z-index: 12;
    @include transition(.5s);       
}

.breadcrumb{
    .breadcrumb-item.active{
        color: $pine-green;
    }

    .breadcrumb-item + .breadcrumb-item::before{
        color: $pine-green;
    }

    .breadcrumb-item{
        text-decoration: none;
        font-size: 30px;
        font-family: 'DM Serif Text', serif;
        font-weight: bold;
        text-transform: capitalize;
        color: $pine-green;
        display: block;
        letter-spacing: 0;
        text-shadow: -5px 4px 15px rgba(0, 0, 0, .19);
        a {
            text-decoration: none;
            font-size: 30px;
            text-shadow: -5px 4px 15px rgba(0, 0, 0, .19);
            font-family: 'DM Serif Text', serif;
            font-weight: bold;
            text-transform: capitalize;
            color: $pine-green;
            display: block;
            letter-spacing: 0;
        
            &:hover, &:focus {
              color: $pine-green;
            }
          }
    }
}

section.map{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

.logo-center-position{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}

@media(max-width: $screen-xs-max){
    .logo-center-position{
        position: static;
        left: auto;
        right: auto;
        top: auto;
        margin: none;
    }
}
/*Buttons*/
    .nav-drop.dropdown.show{
        .drop-menu{
            background-color: $pine-green;
            width: 60px;
            height: 60px;
            line-height: 60px;
            display: block;
        }
    }
    .drop-menu{
        border: 0;
        color: $white;
        background-color: $tea;
        width: 60px;
        height: 60px;
        line-height: 60px;
        display: block;
        &:hover{
            color: $white;
        }
    }
    
    .dropdown-menu{
        background-color: $pine-green!important;
        border: 0!important;
        margin: 0!important;
        border-radius: 0!important;
        a{
            color: $white!important;
            &:hover{
                background-color: $pine-green!important;
                color: $white!important;
            }
        }
    }

    .bar-reserve{
        background-color: $tea;
        padding: 25px 25px;
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
        z-index: 999;
        a{
            color: $tea;
            background-color: $white;
            padding: 12px 20px;
            display: block;
            @include border-radius(5px);
            &:hover{
                color: $tea;
            }
        }
    }


.white-btn{
    background-color: $white;
    color: $pine-green;
    padding: 12px 20px;
    position: relative;
    z-index: 99;
    @include border-radius(5px);
    &:hover{
        color: $pine-green;
    }
}

.btn-outline-green{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    border: 1px solid $tea;
    color: $tea;
    padding: 10px 15px;
    display: inline-block;
    @include border-radius(5px);
    &:hover{
        color: $tea;
    }
}

.btn-solid-green{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    background-color: $pine-green;
    color: $white;
    border: 0;
    padding: 8px 15px;
    display: inline-block;
    @include border-radius(5px);
    &:hover{
        color: $white;
    }
}

/*form*/
input{
    border: 1px solid $pine-green!important;
    @include border-radius(5px);
    text-transform: uppercase;
    color: $pine-green!important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: uppercase;
    color: $pine-green!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: uppercase;
    color: $pine-green!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: uppercase;
    color: $pine-green!important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: uppercase;
    color: $pine-green!important;
}

/*nav bar*/
.navbar{
    .navbar-nav{
        .nav-item{
            .nav-menu-desk{
                padding: 20px 13px;
                @include transition(.5s);
                &:hover{
                    background-color: $pine-green;
                    padding: 20px 13px;
                }
            }
        }
    }
}


/*nav bar mobile*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: $tea;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    /* top: 25%; */
    width: 100%;
    text-align: center;
    /* margin-top: 30px; */
  }
  
  .overlay {
    a {
      padding: 4px;
      text-decoration: none;
      font-size: 18px;
      font-family: 'DM Serif Text', serif;
      font-weight: 400;
      text-transform: capitalize;
      color: $white;
      display: block;
      transition: 0.3s;
      letter-spacing: 0;
  
      &:hover, &:focus {
        color: #f1f1f1;
      }
    }


    .label-menu{
        margin-top: 25px;
        margin-bottom: 40px;
        font-size: 40px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 3px;
        text-align: center;
        color: $white;
        display: inline-block;
    }
  
    .closebtn {
        top: 0px;
        position: absolute;
        right: 15px;
        font-size: 40px;
        display: inline-block;
    }

  }
  
  @media screen and (max-height: 450px) {
    .overlay {
      a {
        font-size: 20px;
      }
  
      .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
    }
  }

  .menu-open-mobile{
      i{
        position: fixed;
        right: 10px;
        font-size: 30px;
        margin-top: -5px;
      }
  }

  footer.footer{
      margin-top: 50px;
      .newsletter{
        background-color: $light-grey;
        padding: 20px 0;
        .title{
            color: $green-1;
            font-weight: bold;
        }

        .description{
            color: $brown-grey;
        }
      }

      .informations{
            padding: 50px 0;
            background-color: $pine-green;
            .links{
                padding: 20px 135px;
                a{
                    color: $white;
                    font-size: 14px;
                    margin: 0 8px;
                    padding: 7px 0;
                    display: inline-block;
                }
            }
            
            .links-2{
                a{
                    color: #ffffff;
                    font-size: 13px;
                    /* margin: 0 8px; */
                    padding: 4px 0;
                    display: block;
                    text-align: left;
                }
            }

            @media(min-width: $screen-lg-min){
                .remove-xl{
                    display: none;
                }
            }
      }

      .social{
            background-color: $very-light-pink;
            padding: 20px 0;
            border-bottom: 30px solid $pine-green;
            .whats{
                color: $pine-green;
                letter-spacing: 0;
                font-size: 19px;
                i{
                    font-size: 20px;
                }
                &:hover{
                    color: $pine-green;
                }
            }

            .social-list{
                margin: 0;
                li{
                    a{
                        text-align: center;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        color: $white;
                        background-color: $pine-green;
                        display: block;
                        padding-left: 4px;
                        @include border-radius(5px);
                        &:hover{
                            color: $white;
                        }
                    }
                }
            }

            @media(max-width: $screen-xs-max){
                .social-list{
                    margin: 5px;
                    text-align: center;
                }
            }
      }
  }