section.accommodations-01{
    margin-top: 50px;
    .text{
        color: $brown-grey;
        margin-bottom: 25px;
        line-height: 1.14;
    }

    .btnrating{
        background-color: $light-grey;
        color: $pine-green;
        border-color: $pine-green;
        border: 0;
        width: 50px;
        height: 50px;
        @include border-radius(50%);
        &:hover{
            background-color: $pine-green;
            color: $white;
        }
    }

    .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle{
        background-color: $pine-green;
        color: $white;
    }

    .btn-warning{
        background-color: $pine-green;
        color: $white;
        border-color: $pine-green;
        border: 0;
        width: 50px;
        height: 50px;
        @include border-radius(50%);
        &:hover{
            background-color: $pine-green;
            color: $white;
        }
    }

    @media(max-width: $screen-xs-max){
        .btnrating{
            width: 40px;
            height: 40px;
        }
    
        .btn-warning{
            width: 40px;
            height: 40px; 
        }
    }

    .card-deck{
        .card{
            background-color: #f2efe642;
            @include border-radius(8px);
            .card-img-top{
                @include border-radius(8px 8px 0 0);
            }

            .icons{
                position: absolute;
                bottom: 70px;
                left: 15px;
                i{
                    background-color: $white;
                    font-size: 20px;
                    color: $brown-grey;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    text-align: center;
                    @include border-radius(3px);
                }
            }
            .card-body{
                .card-title{
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 3px;
                    text-align: center;
                    color: $pine-green;
                    &:hover{
                        color: $pine-green;
                    }
                }
            }
        }
    }
}