section.leisure{
    margin-top: 50px;
    .card-actives {
        display: none;
    }

    
    #loadless, #semmais{
        display: none;
    }
    
    
    #loadmore {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .p {
        text-align: center;
        color: $brown-grey;
        display: block;
        text-decoration: none;
        margin-top: 30px;
    }

    .card-deck{
        .card{
            background-color: #f2efe642;
            @include border-radius(8px);
            .card-img-top{
                @include border-radius(8px 8px 0 0);
            }

            .label{
                position: absolute;
                top: 15px;
                right: 15px;
                .label-bar{
                    background-color: $white;
                    color: $pine-green;
                    padding: 5px 15px;
                    font-size: 11px;
                    @include border-radius(55px);
                }
            }
            .card-body{
                .card-title{
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 3px;
                    text-align: center;
                    color: $pine-green;
                    &:hover{
                        color: $pine-green;
                    }
                }
            }
        }
    }
}

/* #showLess{
    display: none;
} */
