section.contato{
    margin-top: 10px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }

    .box{
        background-color: $white-bg;
        padding: 25px;
        border: 6px solid $white;
        @include border-radius(10px);
        i{
            color: $pine-green;
            font-size: 40px;
        }

        

        a{
            text-align-last: left;
            .title{
                color: $pine-green;
                text-transform: uppercase;
                font-weight: normal;
            }

            .number{
                color: $brown-grey;
                letter-spacing: 0;
                font-weight: normal;
                text-transform: initial;
            }
        }
    }

    input{
        border: 0!important;
        @include border-radius(5px);
        text-transform: uppercase;
        color: $pine-green!important;
        background-color: $white-bg;
    }

    .form-control:focus{
        background-color: $white-bg!important;
    }

    textarea{
        border: 0!important;
        @include border-radius(5px);
        text-transform: uppercase;
        color: $pine-green!important;
        background-color: $white-bg;
    }
    
    ::-webkit-input-placeholder { /* WebKit browsers */
        text-transform: uppercase;
        color: $pine-green!important;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        text-transform: uppercase;
        color: $pine-green!important;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        text-transform: uppercase;
        color: $pine-green!important;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        text-transform: uppercase;
        color: $pine-green!important;
    }
}
