.header-gastronomia{
    background-image:url("../images/gastronomia.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .down{
        display: none;
    }

    .breadcrumb .breadcrumb-item.active{
        text-transform: inherit;
        color: $white;
    }

    .breadcrumb-item + .breadcrumb-item::before{
        color: $white;
    }

    .breadcrumb-item{
        padding: 160px 0 0 0;
        text-transform: inherit;
        color: $white;
        a {
            text-transform: inherit;
            color: $white;
        
            &:hover, &:focus {
                color: $white;
            }
        }
    }

    .play{
        padding-bottom: 120px;
    }
}

section.gastronomia{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }

}

section.gallery-gastronomia{
    margin-top: 40px;
    .clear {
        clear: both;
        float: none;
        width: 100%;
      }
    .gallery {
        a {
          img {
            float: left;
            width: 20%;
            height: auto;
            border: 2px solid #fff;
            -webkit-transition: -webkit-transform .15s ease;
            -moz-transition: -moz-transform .15s ease;
            -o-transition: -o-transform .15s ease;
            -ms-transition: -ms-transform .15s ease;
            transition: transform .15s ease;
            position:relative;
          }
          
          &:hover {
            img {
              -webkit-transform: scale(1.05);
              -moz-transform: scale(1.05);
              -o-transform: scale(1.05);
              -ms-transform: scale(1.05);
              transform: scale(1.05);
              z-index: 5;
            }
          }
          
          &.big {
            img {
              width: 40%;
            }
          }
        }
      }

      @media(max-width: $screen-xs-max){
        .gallery {
            a {
              img {
                width: 100%;
              }
              
              &.big {
                img {
                  width: 100%;
                }
              }
            }
          }
        }
}