header.header-home{
    /*slide*/
  .swiper-container {
    width: 100%;
    height: 100%;
    .down{
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
    }

    .swiper-button-next{
        color: $white!important;
        right: 10px;
        &:after{
            font-size: 30px;
        }
    }

    .swiper-button-prev{
        color: $white!important;
        right: 10px;
        &:after{
            font-size: 30px;
        }
    }
}
    .swiper-pagination{
        width: 100%;
        .swiper-pagination-bullet-active{
            background: $tea;
        }

        .swiper-pagination-bullet{
            width: 100px;
            height: 6px;
            background: $tea;
            margin: 0 5px;
            @include border-radius(0);
        }

        @media(max-width: $screen-xs-max){
            .swiper-pagination-bullet{
                width: 60px;
            }
        }
    }
  .swiper-slide {
      cursor: grab;
      padding: 90px 0;
      padding: 180px 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .title{
        text-align: center;
        color: $white;
        font-size: 64px;
        line-height: 55px;
        margin: 0;
        letter-spacing: 1.62px;
        text-shadow: 0 2px 31px $black;
        font-weight: bold;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
  }
}

section.seals{
    margin-top: 50px;
}

section.accommodations{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 25px;
        font-weight: bold;
    }
    .card-deck{
        .card{
            background-color: #f2efe642;
            @include border-radius(8px);
            .card-img-top{
                @include border-radius(8px 8px 0 0);
            }

            .icons{
                position: absolute;
                bottom: 70px;
                left: 15px;
                i{
                    background-color: $white;
                    font-size: 20px;
                    color: $brown-grey;
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    line-height: 40px;
                    padding-left: 5px;
                    text-align: center;
                    @include border-radius(3px);
                }
            }
            .card-body{
                .card-title{
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 3px;
                    text-align: center;
                    color: $pine-green;
                    &:hover{
                        color: $pine-green;
                    }
                }
            }
        }
    }
}

section.activities{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 25px;
        font-weight: bold;
    }
    .title-master{
        color: $green-1;
        margin-bottom: 25px;
        font-weight: bold;
    }
    .swiper-activities,.swiper-child{
        position: relative;
        background-color: #f2efe642;
        height: 350px;
        cursor: grab;

        .title{
            text-align: center;
            color: $pine-green;
            font-size: 14px;
            margin-top: 20px;
            letter-spacing: 1.62px;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            
        }
        
        .swiper-button-next{
            color: $pine-green!important;
            right: 10px;
            &:after{
                font-size: 30px;
            }
        }
    
        .swiper-button-prev{
            color: $pine-green!important;
            right: 10px;
            &:after{
                font-size: 30px;
            }
        }

        .swiper-button-next, .swiper-button-prev{
            top: auto;
            bottom: 15px;
        }
        .swiper-counter {
            position: absolute;
            bottom: 9px;
            right: 0;
            left: 0;
            margin: 0 auto;
            z-index: 1;
            min-width: 60px;
            padding: 6px;
            text-align: center;
            letter-spacing: .1em;
            color: $pine-green;
          }
          @media screen and (min-width: 320px) and (max-width: 359px) {
            height: 225px;
          }

          @media screen and (min-width: 360px) and (max-width: 374px) {
            height: 245px;
          }

          @media screen and (min-width: 375px) and (max-width: 413px) {
            height: 255px;
          }

          @media screen and (min-width: 414px) and (max-width: 475px) {
            height: 275px;
          }

          @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 430px;
          }

          @media screen and (min-width: 1024px) and (max-width: 1200px) {
            height: 560px;
          }
    }
      
}

section.testmonial{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 25px;
        font-weight: bold;
    }
    .swiper-button-next{
        color: $pine-green!important;
        right: 10px;
        &:after{
            font-size: 30px;
        }
    }

    .swiper-button-prev{
        color: $pine-green!important;
        right: 10px;
        &:after{
            font-size: 30px;
        }
    }

    .swiper-pagination-test{
        width: 100%;
        .swiper-pagination-bullet-active{
            background: $tea;
        }

        .swiper-pagination-bullet{
            width: 100px;
            height: 6px;
            background: $pine-green;
            margin: 0 5px;
            @include border-radius(0);
        }

        @media(max-width: $screen-xs-max){
            .swiper-pagination-bullet{
                width: 60px;
            }
        }
    }
  .swiper-slide {
      cursor: grab;
      padding: 10px 0; 
      background-repeat: no-repeat;
      background-size: cover;


      img{
        @include border-radius(50%);
      }

      .info{
          .name{
              letter-spacing: 1.3px;
              text-transform: uppercase;
              color: $pine-green;
          }

          .description{
            color: $brown-grey;
            line-height: 18px;
            margin-top: 10px;
        }
      }
      .title{
        text-align: center;
        color: $pine-green;
        font-size: 32px;
        line-height: 35px;
        padding: 0 105px;
        margin: 0;
        font-weight: bold;
        font-style: italic;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        @media(max-width: $screen-xs-max){
            padding: 0;
        }
      }
    }
}

section.gallery{
    margin-top: 70px;
    .title{
        color: $green-1;
        margin-bottom: 25px;
        font-weight: bold;
    }
    .clear {
        clear: both;
        float: none;
        width: 100%;
      }
    .gallery {
        a {
          img {
            float: left;
            width: 20%;
            height: auto;
            border: 2px solid #fff;
            -webkit-transition: -webkit-transform .15s ease;
            -moz-transition: -moz-transform .15s ease;
            -o-transition: -o-transform .15s ease;
            -ms-transition: -ms-transform .15s ease;
            transition: transform .15s ease;
            position:relative;
          }
          
          &:hover {
            img {
              -webkit-transform: scale(1.05);
              -moz-transform: scale(1.05);
              -o-transform: scale(1.05);
              -ms-transform: scale(1.05);
              transform: scale(1.05);
              z-index: 5;
            }
          }
          
          &.big {
            img {
              width: 40%;
            }
          }
        }
      }

      @media(max-width: $screen-xs-max){
        .gallery {
            a {
              img {
                width: 100%;
              }
              
              &.big {
                img {
                  width: 100%;
                }
              }
            }
          }
        }
}

section.events{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 25px;
        font-weight: bold;
    }
    .title-master{
        color: $green-1;
        margin-bottom: 25px;
        font-weight: bold;
    }

    .swiper-events,.swiper-sust{
        position: relative;
        background-color: #f2efe642;
        height: 350px;
        cursor: grab;

        .title{
            text-align: center;
            color: $pine-green;
            font-size: 14px;
            margin-top: 20px;
            letter-spacing: 1.62px;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            
        }

        .description{
            text-align: center;
            color: $brown-grey;
            font-size: 12px;
            margin-top: 15px;
            font-family: 'Lato', sans-serif;
            text-transform: inherit;
            padding: 0 7px;
            
        }
        
        .swiper-button-next{
            color: $pine-green!important;
            right: 10px;
            &:after{
                font-size: 30px;
            }
        }
    
        .swiper-button-prev{
            color: $pine-green!important;
            right: 10px;
            &:after{
                font-size: 30px;
            }
        }

        .swiper-button-next, .swiper-button-prev{
            top: auto;
            bottom: 15px;
        }
        .swiper-counter {
            position: absolute;
            bottom: 9px;
            right: 0;
            left: 0;
            margin: 0 auto;
            z-index: 1;
            min-width: 60px;
            padding: 6px;
            text-align: center;
            letter-spacing: .1em;
            color: $pine-green;
          }
          @media screen and (min-width: 320px) and (max-width: 359px) {
            height: 225px;
          }

          @media screen and (min-width: 360px) and (max-width: 374px) {
            height: 245px;
          }

          @media screen and (min-width: 375px) and (max-width: 413px) {
            height: 255px;
          }

          @media screen and (min-width: 414px) and (max-width: 475px) {
            height: 275px;
          }

          @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 430px;
          }

          @media screen and (min-width: 1024px) and (max-width: 1200px) {
            height: 560px;
          }
    }
}

section.know{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 25px;
        font-weight: bold;
        @media(max-width: $screen-xs-max){
            font-size: 33px;
        }
    }
    .card-deck{
        .card{
            background-color: #f2efe642;
            @include border-radius(0);
            .card-img-top{
                @include border-radius(0);
            }

        }
    }
}
