.header-infra{
    background-image:url("../images/slide-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .down{
        display: none;
    }

    .breadcrumb .breadcrumb-item.active{
        text-transform: inherit;
        color: $white;
    }

    .breadcrumb-item + .breadcrumb-item::before{
        color: $white;
    }

    .breadcrumb-item{
        padding: 120px 0;
        text-transform: inherit;
        color: $white;
        a {
            text-transform: inherit;
            color: $white;
        
            &:hover, &:focus {
              color: $white;
            }
          }
    }
}

section.infra{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }

    .text{
        color: $brown-grey;
    }

    .packages-infra{
        margin-top: 50px;
        .title{
            color: $green-1;
            margin-bottom: 10px;
            font-weight: bold;
        }
        .description{
            color: $brown-grey;
            width: 750px;
            max-width: 90%;
            margin: 0 auto;
        }
    
        .pacs{
            .title-info{
                color: $green-1;
                margin-bottom: 10px;
                font-weight: bold;
            }
    
            .informations{
                color: $brown-grey;
                margin-top: 20px;
            }
    
            .hour{
                color: $brown-grey;
            }
    
            .block{
                padding: 21px;
                margin: 0px;
                border: 5px solid #fff;
                background-color: $white-bg;
                @include border-radius(15px);
    
                .name{
                    text-transform: uppercase;
                    color: $pine-green;
                    font-weight: normal;
                    letter-spacing: 0.5px;
                }
                
                .valor{
                    text-transform: uppercase;
                    color: $white;
                    font-weight: normal;
                    letter-spacing: 1px;
                }
    
                .desc{
                    color: $brown-grey;
                }
            }
    
            .-one{
                float: left;
                width: 33.33%;
            }
    
            .-two{
                float: right;
                width: 33.33%;
            }

            .-three{
                float: right;
                width: 33.33%;
            }

            @media(max-width: $screen-xs-max){
                .-one{
                    float: left;
                    width: 100%;
                }
        
                .-two{
                    float: right;
                    width: 100%;
                }
    
                .-three{
                    float: right;
                    width: 100%; 
                }
            }
        }
    }
}

section.about-infra{
    margin-top: 50px;
    .title{
        color: $green-1;
        font-weight: bold;
    }
    .title-master{
        color: $green-1;
        font-weight: bold;
    }

    .swiper-wrapper{
        box-sizing: inherit;
    }

    .swiper-infra{
        cursor: grab;

        .gallery-infra{
            margin-top: 70px;
            .clear {
                clear: both;
                float: none;
                width: 100%;
              }
            .gallery {
                a {
                  img {
                    float: left;
                    width: 20%;
                    height: auto;
                    border: 2px solid #fff;
                    -webkit-transition: -webkit-transform .15s ease;
                    -moz-transition: -moz-transform .15s ease;
                    -o-transition: -o-transform .15s ease;
                    -ms-transition: -ms-transform .15s ease;
                    transition: transform .15s ease;
                    position:relative;
                  }
                  
                  &:hover {
                    img {
                      -webkit-transform: scale(1.05);
                      -moz-transform: scale(1.05);
                      -o-transform: scale(1.05);
                      -ms-transform: scale(1.05);
                      transform: scale(1.05);
                      z-index: 5;
                    }
                  }
                  
                  &.big {
                    img {
                      width: 40%;
                    }
                  }
                }
              }
        }

        .title{
            text-align: center;
            color: $pine-green;
            font-size: 14px;
            /* margin-top: -30px; */
            letter-spacing: 1.62px;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            
        }

        .description{
            text-align: center;
            color: $brown-grey;
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            text-transform: inherit;
            width: 500px;
            max-width: 90%;
            margin: 0 auto;
            padding-bottom: 50px;
            
        }
        
        .swiper-button-next{
            color: $pine-green!important;
            right: 390px;
            &:after{
                font-size: 30px;
            }
        }
    
        .swiper-button-prev{
            color: $pine-green!important;
            right: 0;
            left: 390px;
            &:after{
                font-size: 30px;
            }
        }

        .swiper-button-next, .swiper-button-prev{
            top: 70px;
            /* bottom: 15px;*/
        }
        .swiper-counter {
            position: absolute;
            top: 35px;
            right: 0;
            left: 0;
            margin: 0 auto;
            z-index: 1;
            min-width: 60px;
            padding: 6px;
            text-align: center;
            letter-spacing: .1em;
            color: $pine-green;
          }

          @media(max-width: $screen-xs-max){
            .swiper-button-next{
                right: 60px;
            }
        
            .swiper-button-prev{
                left: 60px;
            }
          }

          @media screen and (min-width: 768px) and (max-width: 1023px) {
            .swiper-button-next{
                right: 260px;
            }
        
            .swiper-button-prev{
                left: 260px;
            }
          }
          /* @media screen and (min-width: 320px) and (max-width: 374px) {
            height: 225px;
          }

          @media screen and (min-width: 375px) and (max-width: 413px) {
            height: 255px;
          }

          @media screen and (min-width: 414px) and (max-width: 475px) {
            height: 275px;
          }

          @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 430px;
          }

          @media screen and (min-width: 1024px) and (max-width: 1200px) {
            height: 560px;
          } */
    }

    
}