.header-aux{
    .down{
        display: none;
    }
    .breadcrumb .breadcrumb-item.active{
        text-transform: inherit;
        color: $white;
    }

    .breadcrumb-item + .breadcrumb-item::before{
        color: $white;
    }

    .breadcrumb-item{
        text-transform: inherit;
        color: $white;
        a {
            text-transform: inherit;
            color: $white;
        
            &:hover, &:focus {
              color: $white;
            }
          }
    }
}

section.int-ativ{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }
}

section.programacao-alg{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 50px;
        font-weight: bold;
    }

    .swiper-slide{
        .title-day{
            color: $green-1;
            font-weight: 700;
        }
        .week{
            color: $pine-green;
            line-height: 1.13;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
        }
        
        .center-elements{
            justify-content: center !important;
            display: flex !important;
            .box-one-program{
                .f-aux{
                    float: left;
                    .box-program{
                        background-color: #f5f5f5;
                        display: block;
                        font-weight: normal;
                        line-height: 18px;
                        padding: 15px 35px;
                        margin: 5px;
                        @include border-radius(15px);
                        .hour{
                            color: $brown-grey;
                            font-size: 14px;
                        }
            
                        .aula{
                            color: $pine-green;
                            font-size: 16px;
                        }
            
                        .local{
                            color: $brown-grey;
                            font-size: 14px;
                            text-transform: capitalize;
                            letter-spacing: 0;
                        }
                    }
                    
                }
    
            }
        }

        @media(max-width: $screen-xs-max){
            .center-elements{
                justify-content: none !important;
                display: block !important;
                .box-one-program{
                    .f-aux{
                        float: none!important;
                    }
                }
                
            }
        }

    }

    .swiper-button-next{
        color: $pine-green!important;
        right: 410px;
        &:after{
            font-size: 30px;
        }
    }

    .swiper-button-prev{
        color: $pine-green!important;
        left: 430px;
        &:after{
            font-size: 30px;
        }
    }

    .swiper-button-next, .swiper-button-prev{
        top: 20px;
    }

      @media screen and (min-width: 320px) and (max-width: 359px) {
        .swiper-button-next{
            right: 40px;
        }
    
        .swiper-button-prev{
            left: 40px;
        }
    
        .swiper-button-next, .swiper-button-prev{
            top: 20px;
        }
      }

      @media screen and (min-width: 360px) and (max-width: 374px) {
        .swiper-button-next{
            right: 40px;
        }
    
        .swiper-button-prev{
            left: 40px;
        }
    
        .swiper-button-next, .swiper-button-prev{
            top: 20px;
        }
      }

      @media screen and (min-width: 375px) and (max-width: 413px) {
        .swiper-button-next{
            right: 40px;
        }
    
        .swiper-button-prev{
            left: 40px;
        }
    
        .swiper-button-next, .swiper-button-prev{
            top: 20px;
        }
      }

      @media screen and (min-width: 414px) and (max-width: 475px) {
        .swiper-button-next{
            right: 40px;
        }
    
        .swiper-button-prev{
            left: 40px;
        }
    
        .swiper-button-next, .swiper-button-prev{
            top: 20px;
        }
      }

      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .swiper-button-next{
            right: 40px;
        }
    
        .swiper-button-prev{
            left: 40px;
        }
    
        .swiper-button-next, .swiper-button-prev{
            top: 20px;
        }
      }

      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        .swiper-button-next{
            right: 40px;
        }
    
        .swiper-button-prev{
            left: 40px;
        }
    
        .swiper-button-next, .swiper-button-prev{
            top: 20px;
        }
      }
  
}
