.header-aux{
    .down{
        display: none;
    }
    .breadcrumb .breadcrumb-item.active{
        text-transform: inherit;
        color: $white;
    }

    .breadcrumb-item + .breadcrumb-item::before{
        color: $white;
    }

    .breadcrumb-item{
        text-transform: inherit;
        color: $white;
        a {
            text-transform: inherit;
            color: $white;
        
            &:hover, &:focus {
              color: $white;
            }
          }
    }
}

section.int-acom{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }

    .icons{
        ul{
            li{
                a{
                    color: $brown-grey;
                    font-size: 12px;
                    letter-spacing: 0;
                    font-weight: normal;
                    text-transform: inherit;
                    i{
                        background-color: $light-grey-2;
                        font-size: 20px;
                        color: $brown-grey;
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        @include border-radius(3px);
                    }
                }
            }
        }
    }
}

section.baby{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }
    .swiper-pagination-baby{
        width: 100%;
        .swiper-pagination-bullet-active{
            background: $tea;
        }

        .swiper-pagination-bullet{
            width: 100px;
            height: 6px;
            background: $tea;
            margin: 0 5px;
            @include border-radius(0);
        }

        @media(max-width: $screen-xs-max){
            .swiper-pagination-bullet{
                width: 60px;
            }
        }
    }
    .swiper-slide {
        cursor: grab;
        padding: 180px 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .title-baby{
            text-align: center;
            color: $white;
            font-size: 30px;
            margin: 0;
            letter-spacing: 1.62px;
            text-shadow: 0 2px 31px $black;
            font-weight: bold;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }
}
