.header-localizacao{
    background-image:url("../images/localizacao-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .down{
        display: none;
    }

    .breadcrumb .breadcrumb-item.active{
        text-transform: inherit;
        color: $white;
    }

    .breadcrumb-item + .breadcrumb-item::before{
        color: $white;
    }

    .breadcrumb-item{
        padding: 120px 0;
        text-transform: inherit;
        color: $white;
        a {
            text-transform: inherit;
            color: $white;
        
            &:hover, &:focus {
              color: $white;
            }
          }
    }
}

section.localization-01{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }

    .text{
        color: $brown-grey;
    }
}