
section.all-program{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 50px;
        font-weight: bold;
    }

    .title-day{
        color: $green-1;
        font-weight: 700;
    }
    #demo-2 {
        /* width: 400px; */
       /*  margin-bottom: 30px; */
        ul,
        ol,
        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    
        p {
            margin: 0;
        }
        
        input {
            margin: 10px 0;
            height: 28px;
            width: 200px;
            padding: 0 6px;
            border: 1px solid #ccc;
            outline: none;
        }

        #one-2{
            margin: 0 auto;

        }

        .calendar-hd{
            height: 40px;
        }
        
        .calendar .view{
            background: $white;
            color: $brown-grey;
        }

        .calendar-views .days .new, .calendar-views .days .old{
            color: #dadada;
        }

        .calendar-arrow span:hover, .calendar-display .m, .calendar-display:hover, .calendar-views .week{
            color: $green-2;
        }

        .calendar-arrow, .calendar-display{
            color: $green-2!important;
        }

        .calendar .days li[data-calendar-day]:hover, .calendar .view-month li[data-calendar-month]:hover{
            color: $white!important;
            background: $pine-green;
        }
    }

    .center-elements{
        justify-content: center !important;
        display: flex !important;
        .box-one-program{
            .f-aux{
                float: left;
                .box-program{
                    background-color: #f5f5f5;
                    display: block;
                    font-weight: normal;
                    line-height: 18px;
                    padding: 15px 35px;
                    margin: 5px;
                    @include border-radius(15px);
                    .hour{
                        color: $brown-grey;
                        font-size: 14px;
                    }
        
                    .aula{
                        color: $pine-green;
                        font-size: 16px;
                    }
        
                    .local{
                        color: $brown-grey;
                        font-size: 14px;
                        text-transform: capitalize;
                        letter-spacing: 0;
                    }
                }
                
            }

        }
    }

    @media(max-width: $screen-xs-max){
        .center-elements{
            justify-content: none !important;
            display: block !important;
            .box-one-program{
                .f-aux{
                    float: none!important;
                }
            }
            
        }
    }
}