.header-promocao-01{
    background-image:url("../images/pacotes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .down{
        display: none;
    }

    .breadcrumb .breadcrumb-item.active{
        text-transform: inherit;
        color: $white;
    }

    .breadcrumb-item + .breadcrumb-item::before{
        color: $white;
    }

    .breadcrumb-item{
        padding: 200px 0;
        text-transform: inherit;
        color: $white;
        a {
            text-transform: inherit;
            color: $white;
        
            &:hover, &:focus {
              color: $white;
            }
          }
    }
}

section.packages{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }

    .pacs{
        .title-info{
            color: $green-1;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .informations{
            color: $brown-grey;
            margin-top: 20px;
        }

        .hour{
            color: $brown-grey;
        }

        .block{
            padding: 21px;
            margin: 0px;
            border: 5px solid #fff;
            background-color: $white-bg;
            @include border-radius(15px);

            .name{
                text-transform: uppercase;
                color: $pine-green;
                font-weight: normal;
                letter-spacing: 0.5px;
            }
            
            .valor{
                text-transform: uppercase;
                color: $white;
                font-weight: normal;
                letter-spacing: 1px;
            }

            .desc{
                color: $brown-grey;
            }
        }

        .-one{
            float: left;
            width: 50%;
        }

        .-two{
            float: right;
            width: 50%;
        }

        .-color{
            clear: both;
            background-color: $pine-green;
            color: $white;
        }
    }
}