section.resort{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }
    .card-deck{
        margin-top: 30px;
        .card{
            background-color: #f2efe642;
            @include border-radius(8px);
            .card-img-top{
                @include border-radius(8px 8px 0 0);
            }

            .card-body{
                .card-title{
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 3px;
                    text-align: center;
                    color: $pine-green;
                    &:hover{
                        color: $pine-green;
                    }
                }
            }
        }
    }
}