.header-sustentabilidade{
    background-image:url("../images/sustentabilidade.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .down{
        display: none;
    }

    .breadcrumb .breadcrumb-item.active{
        text-transform: inherit;
        color: $white;
    }

    .breadcrumb-item + .breadcrumb-item::before{
        color: $white;
    }

    .breadcrumb-item{
        padding: 120px 0;
        text-transform: inherit;
        color: $white;
        a {
            text-transform: inherit;
            color: $white;
        
            &:hover, &:focus {
              color: $white;
            }
          }
    }
}

section.sustentabilidade{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }

    .text{
        color: $brown-grey;
    }

    .gallery{
        .clear {
            clear: both;
            float: none;
            width: 100%;
          }
        .gallery {
            a {
              img {
                float: left;
                width: 20%;
                height: auto;
                border: 2px solid #fff;
                -webkit-transition: -webkit-transform .15s ease;
                -moz-transition: -moz-transform .15s ease;
                -o-transition: -o-transform .15s ease;
                -ms-transition: -ms-transform .15s ease;
                transition: transform .15s ease;
                position:relative;
              }
              
              &:hover {
                img {
                  -webkit-transform: scale(1.05);
                  -moz-transform: scale(1.05);
                  -o-transform: scale(1.05);
                  -ms-transform: scale(1.05);
                  transform: scale(1.05);
                  z-index: 5;
                }
              }
              
              &.big {
                img {
                  width: 40%;
                }
              }
            }
          }
    }
}

section.social-01{
    margin-top: 50px;
    .title{
        color: $green-1;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description{
        color: $brown-grey;
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
    }

    .text{
        color: $brown-grey;
    }

    .gallery{
        .clear {
            clear: both;
            float: none;
            width: 100%;
          }
        .gallery {
            a {
              img {
                float: left;
                width: 20%;
                height: auto;
                border: 2px solid #fff;
                -webkit-transition: -webkit-transform .15s ease;
                -moz-transition: -moz-transform .15s ease;
                -o-transition: -o-transform .15s ease;
                -ms-transition: -ms-transform .15s ease;
                transition: transform .15s ease;
                position:relative;
              }
              
              &:hover {
                img {
                  -webkit-transform: scale(1.05);
                  -moz-transform: scale(1.05);
                  -o-transform: scale(1.05);
                  -ms-transform: scale(1.05);
                  transform: scale(1.05);
                  z-index: 5;
                }
              }
              
              &.big {
                img {
                  width: 40%;
                }
              }
            }
          }
    }
}
